
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 230px;
  width: 228px;
  margin: -135px 0 0 -124px;
  overflow: hidden;
}

#container div { position: absolute; }

#beaker {
  border: 10px solid #FFF;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
  background-color: #3C6;
  border: 10px solid #3C6;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 170px;
  overflow: hidden;
  width: 180px;
  -webkit-animation: spectrum 30s linear infinite;
  animation: spectrum 30s linear infinite;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: bubble;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@for $i from 1 through 7 {
  .bubble:nth-child(#{$i}) {
    left: random(180) * 1px;
    -webkit-animation-delay: random() * 30ms;
    -webkit-animation-duration: (random(10) + 3) * 100ms;
    -webkit-transform: scale((random(10) + 3)/10);
  }
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

@-webkit-keyframes spectrum {
  0% {
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 50%);
  }
  10% {
    background-color: hsl(36, 60%, 50%);
    border-color: hsl(36, 60%, 50%);
  }
  20% {
    background-color: hsl(72, 60%, 50%);
    border-color: hsl(72, 60%, 50%);
  }
  30% {
    background-color: hsl(108, 60%, 50%);
    border-color: hsl(108, 60%, 50%);
  }
  40% {
    background-color: hsl(144, 60%, 50%);
    border-color: hsl(144, 60%, 50%);
  }
  50% {
    background-color: hsl(180, 60%, 50%);
    border-color: hsl(180, 60%, 50%);
  }
  60% {
    background-color: hsl(216, 60%, 50%);
    border-color: hsl(216, 60%, 50%);
  }
  70% {
    background-color: hsl(252, 60%, 50%);
    border-color: hsl(252, 60%, 50%);
  }
  80% {
    background-color: hsl(288, 60%, 50%);
    border-color: hsl(288, 60%, 50%);
  }
  90% {
    background-color: hsl(324, 60%, 50%);
    border-color: hsl(324, 60%, 50%);
  }
  100% {
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 50%);
  }
}

@keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

@keyframes spectrum {
  0% {
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 50%);
  }
  10% {
    background-color: hsl(36, 60%, 50%);
    border-color: hsl(36, 60%, 50%);
  }
  20% {
    background-color: hsl(72, 60%, 50%);
    border-color: hsl(72, 60%, 50%);
  }
  30% {
    background-color: hsl(108, 60%, 50%);
    border-color: hsl(108, 60%, 50%);
  }
  40% {
    background-color: hsl(144, 60%, 50%);
    border-color: hsl(144, 60%, 50%);
  }
  50% {
    background-color: hsl(180, 60%, 50%);
    border-color: hsl(180, 60%, 50%);
  }
  60% {
    background-color: hsl(216, 60%, 50%);
    border-color: hsl(216, 60%, 50%);
  }
  70% {
    background-color: hsl(252, 60%, 50%);
    border-color: hsl(252, 60%, 50%);
  }
  80% {
    background-color: hsl(288, 60%, 50%);
    border-color: hsl(288, 60%, 50%);
  }
  90% {
    background-color: hsl(324, 60%, 50%);
    border-color: hsl(324, 60%, 50%);
  }
  100% {
    background-color: hsl(0, 60%, 50%);
    border-color: hsl(0, 60%, 50%);
  }
}