#container {
  height: 200px;
  width: 248px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#container div {
  position: absolute;
}

#beaker {
  border: 10px solid #7971ae;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 150px;
  left: 14px;
  bottom: 0;
  width: 150px;
  margin: auto;
  top:0; left:0; right:0; bottom:0;
}

#liquid {
  background-color: rgb(214, 232, 238);
  border: 10px solid rgb(214, 232, 238);
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 120px;
  overflow: hidden;
  width: 130px;
}

#liquid_2 {
  background-color: rgb(214, 232, 238);
  border: 10px solid rgb(214, 232, 238);
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 120px;
  overflow: hidden;
  width: 130px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid_2:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .stone{
  background-color: black;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  bottom: 0;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: bubble;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.bubble:nth-child(1) {
  left: 84px;
  -webkit-animation-delay: 16.9995911766ms;
  -webkit-animation-duration: 900ms;
  -webkit-transform: scale(1.2);
}

.bubble:nth-child(2) {
  left: 147px;
  -webkit-animation-delay: 20.8980635015ms;
  -webkit-animation-duration: 900ms;
  -webkit-transform: scale(0.5);
}

.bubble:nth-child(3) {
  left: 76px;
  -webkit-animation-delay: 0.6733506969ms;
  -webkit-animation-duration: 600ms;
  -webkit-transform: scale(0.9);
}

.bubble:nth-child(4) {
  left: 18px;
  -webkit-animation-delay: 2.4143076499ms;
  -webkit-animation-duration: 800ms;
  -webkit-transform: scale(1.1);
}

.bubble:nth-child(5) {
  left: 11px;
  -webkit-animation-delay: 8.4092556991ms;
  -webkit-animation-duration: 800ms;
  -webkit-transform: scale(0.7);
}

.bubble:nth-child(6) {
  left: 30px;
  -webkit-animation-delay: 19.3258118947ms;
  -webkit-animation-duration: 900ms;
  -webkit-transform: scale(1);
}

.bubble:nth-child(7) {
  left: 172px;
  -webkit-animation-delay: 18.66079946ms;
  -webkit-animation-duration: 500ms;
  -webkit-transform: scale(1.3);
}

@-webkit-keyframes bubble {
  0% {
    bottom: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}
@-webkit-keyframes spectrum {
  0% {
    background-color: #cc3333;
    border-color: #cc3333;
  }
  10% {
    background-color: #cc8f33;
    border-color: #cc8f33;
  }
  20% {
    background-color: #adcc33;
    border-color: #adcc33;
  }
  30% {
    background-color: #52cc33;
    border-color: #52cc33;
  }
  40% {
    background-color: #33cc70;
    border-color: #33cc70;
  }
  50% {
    background-color: #33cccc;
    border-color: #33cccc;
  }
  60% {
    background-color: #3370cc;
    border-color: #3370cc;
  }
  70% {
    background-color: #5233cc;
    border-color: #5233cc;
  }
  80% {
    background-color: #ad33cc;
    border-color: #ad33cc;
  }
  90% {
    background-color: #cc338f;
    border-color: #cc338f;
  }
  100% {
    background-color: #cc3333;
    border-color: #cc3333;
  }
}
@keyframes bubble {
  0% {
    bottom: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}
@keyframes spectrum {
  0% {
    background-color: #cc3333;
    border-color: #cc3333;
  }
  10% {
    background-color: #cc8f33;
    border-color: #cc8f33;
  }
  20% {
    background-color: #adcc33;
    border-color: #adcc33;
  }
  30% {
    background-color: #52cc33;
    border-color: #52cc33;
  }
  40% {
    background-color: #33cc70;
    border-color: #33cc70;
  }
  50% {
    background-color: #33cccc;
    border-color: #33cccc;
  }
  60% {
    background-color: #3370cc;
    border-color: #3370cc;
  }
  70% {
    background-color: #5233cc;
    border-color: #5233cc;
  }
  80% {
    background-color: #ad33cc;
    border-color: #ad33cc;
  }
  90% {
    background-color: #cc338f;
    border-color: #cc338f;
  }
  100% {
    background-color: #cc3333;
    border-color: #cc3333;
  }
}
